<div ng-controller="AddNewTestController">
    <button
        style="min-width: 20vh; font-size: larger"
        class="btn btn-warning m-2"
        ng-click="goToPage('main')"
    >
        Back to main page
    </button>

    <div class="input-group input-group-lg mb-3" style="max-width: 40%">
        <span class="input-group-text" id="inputGroup-sizing-lg"
            >Test name</span
        >
        <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-lg"
            ng-model="addNewTestScope.name"
        />
    </div>

    <div class="input-group mb-3" style="max-width: 40%">
        <span class="input-group-text" id="inputGroup-sizing-default"
            >Question</span
        >
        <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
            ng-model="addNewTestScope.question"
        />
    </div>

    <div class="input-group input-group-sm mb-3" style="max-width: 40%">
        <span class="input-group-text" id="inputGroup-sizing-sm">Answer 1</span>
        <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm"
            ng-model="addNewTestScope.answer1"
        />
    </div>

    <div class="input-group input-group-sm mb-3" style="max-width: 40%">
        <span class="input-group-text" id="inputGroup-sizing-sm">Answer 2</span>
        <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm"
            ng-model="addNewTestScope.answer2"
        />
    </div>

    <div class="input-group input-group-sm mb-3" style="max-width: 40%">
        <span class="input-group-text" id="inputGroup-sizing-sm">Answer 3</span>
        <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm"
            ng-model="addNewTestScope.answer3"
        />
    </div>

    <div class="input-group input-group-sm mb-3" style="max-width: 40%">
        <span class="input-group-text" id="inputGroup-sizing-sm"
            >Correct answer</span
        >
        <input
            type="number"
            min="0"
            max="3"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm"
            ng-model="addNewTestScope.correctAnswer"
        />
    </div>

    <button
        class="btn btn-success"
        ng-click="addNewTestScope.addNewTest(addNewTestScope.name, addNewTestScope.question, 
        [addNewTestScope.answer1, addNewTestScope.answer2, addNewTestScope.answer3], addNewTestScope.correctAnswer - 1)"
    >
        addNewTest
    </button>
</div>
