<div class="d-flex flex-column m-2">
    <div>
        <button
            style="font-size: 25px; min-width: 50vw"
            type="button"
            ng-click="goToPage('addNewTest')"
            class="btn btn-warning m-2"
        >
            Add new test
        </button>
        <button
            style="font-size: 25px; min-width: 50vw"
            type="button"
            class="btn btn-warning m-2"
        >
            Edit test
        </button>
    </div>

    <div
        class="d-flex flex-row m-2"
        style="max-width: 50vw; align-items: center"
    >
        <select
            class="form-select m-2"
            ng-model="test"
            ng-change="updateSelectedTest(test)"
            aria-label="Default select example"
            ng-options="item as item for item in allTest"
        ></select>

        <button
            type="button"
            class="btn btn-warning"
            ng-click="goToPage('questions')"
            style="font-size: 25px; min-width: 50vw"
        >
            START TEST
        </button>
    </div>
</div>
