<div ng-controller="QuestionsController">
    <div ng-if="questionsScope.status === 'loading'">
        Loading questions, please wait.
    </div>

    <div
        ng-if="questionsScope.status === 'ready'"
        ng-repeat="item in questionsScope.data"
    >
        <div ng-if="questionsScope.currentQuestion === $index">
            <div
                class="card"
                style="height: 100vh; background-color: rgb(218, 218, 218)"
            >
                <div class="card-body d-flex flex-column">
                    <h1 class="card-title text-center mb-3">
                        {{$index+1}}. {{item.question}}
                    </h1>
                    <div
                        class="d-flex m-2 justify-content-center"
                        ng-repeat="answer in item.answers"
                    >
                        <button
                            style="min-width: 50vh; font-size: larger"
                            type="button"
                            class="btn btn-dark"
                            ng-class="{'btn-outline-success': $index === questionsScope.answers[questionsScope.currentQuestion]}"
                            ng-click="questionsScope.selectAnswer($index)"
                        >
                            {{answer}}
                        </button>
                    </div>
                    <div class="d-flex m-2 justify-content-center">
                        <button
                            style="min-width: 20vh; font-size: larger"
                            class="btn btn-warning m-2"
                            ng-class="{disabled:questionsScope.currentQuestion === 0}"
                            ng-click="questionsScope.previousQuestion()"
                        >
                            Previous question
                        </button>
                        <button
                            style="min-width: 20vh; font-size: larger"
                            class="btn btn-warning m-2"
                            ng-click="questionsScope.nextQuestion()"
                        >
                            Next question
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div
        ng-if="questionsScope.status === 'saving'"
        style="height: 100vh; background-color: rgb(218, 218, 218)"
        class="d-flex flex-column"
    >
        <h1 class="text-center">Yours answers:</h1>

        <ul
            class="list-group justify-content-center"
            ng-repeat="item in questionsScope.data"
        >
            <li
                class="list-group-item m-2"
                style="
                    background-color: rgba(255, 255, 255, 0.562);
                    font-size: 1.2em;
                    text-align: center;
                "
            >
                <p>{{item.id}}. Question: {{item.question}}</p>
                <p>
                    Answer:
                    <span style="font-weight: 800; color: rgb(255, 181, 71)">
                        {{item.answers[questionsScope.answers[$index]]}}
                    </span>
                </p>
            </li>
        </ul>
        <div class="d-flex m-2 justify-content-center">
            <button
                style="min-width: 20vh; font-size: larger"
                class="btn btn-warning m-2"
                ng-click="questionsScope.changeQuestions()"
            >
                Change questions
            </button>
            <button
                style="min-width: 20vh; font-size: larger"
                class="btn btn-warning m-2"
                ng-click="questionsScope.sendAnswers()"
            >
                Send answers
            </button>
        </div>
    </div>

    <div
        ng-if="questionsScope.status === 'end'"
        style="height: 100vh; background-color: rgb(218, 218, 218)"
        class="d-flex flex-column"
    >
        <h1 class="text-center">
            Your score is: {{questionsScope.sumOfCorrectAnswers}} /
            {{questionsScope.questionsLenght+1}}
        </h1>

        <ul
            class="list-group justify-content-center"
            ng-repeat="item in questionsScope.data"
        >
            <li
                class="list-group-item m-2"
                style="
                    background-color: rgba(255, 255, 255, 0.562);
                    font-size: 1.2em;
                    text-align: center;
                "
            >
                <p>{{item.id}}. Question: {{item.question}}</p>
                <p>
                    Correct answer:
                    <span style="font-weight: 800">
                        {{item.answers[item.correctAnswer]}}
                    </span>
                </p>
                <p>
                    Your answer:
                    <span
                        style="font-weight: 800"
                        ng-style="questionsScope.answers[item.correctAnswer] === item.correctAnswer? {'color':'green'}: {'color':'red'}"
                    >
                        {{item.answers[questionsScope.answers[$index]]}}
                    </span>
                </p>
            </li>
        </ul>
        <button
            style="min-width: 20vh; font-size: larger"
            class="btn btn-warning m-2"
            ng-click="goToPage('main')"
        >
            Back to main page
        </button>
    </div>
</div>
